/************************************************
            Responsive CSS
***********************************************/

/* tablet Device */
@media only screen and (min-width: 600px) and (max-width: 767px) {
  html,
  body {
    font-size: 10px;
  }
  .container {
    width: var(--container-md);
    margin: 0 auto;
  }
  .padding-top {
    padding-top: 40px;
  }

  .navbar-inner {
    padding: 10px 30px;
  }
  .navbar-inner .navbar-menu ul {
    gap: 0;
  }
  .nav-search-box input {
    width: 120px;
  }
  .nav-search-box .quantity {
    width: 15px;
    height: 15px;
  }
  .flex {
    margin-left: 15px;
    margin-right: 15px;
  }
  .top-banner {
    margin-top: 100px;
  }
  .content-title-section div {
    top: 22%;
    left: 47%;
  }
  .content-title-section::after {
    background-size: 100px 140px;
    transform: rotate(353deg);
    top: -75px;
    right: 22px;
    width: 100px;
    height: 140px;
  }
  .content-title-section span {
    line-height: 30px;
  }
  .content-title,
  .content-description {
    margin-left: 15px;
  }
  .product-list > .product-cart {
    width: 32%;
  }
  .selected-quantity {
    margin-top: 113px;
  }

  .footer-inner > div {
    width: 45%;
  }
}

/* Tab Device or Desktop Device */
@media only screen and (min-width: 768px) {
  /* .md-hidden {
    display: none;
  } */
}
